@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 다크 모드 관련 스타일 */
html.light body {
  background-color: #d8d8d8 !important;
  color: #2a2a2a !important;
}

html.dark body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
